<section class="right-side">
    <div class="right-content centralized">
        <h1>IBM</h1>
        <div class="login ">
            <span>Fazer Login no Sistema</span>
            <form class="form-login" action="" method="post" (ngSubmit)="logar()">
                <input type="email" name="email" id="email" value="" placeholder="Insira seu e-mail" [(ngModel)]="email">
                <input type="password" name="senha" id="senha" placeholder="Insira sua senha" [(ngModel)]="senha">
                <input type="submit" value="Fazer Login">
                <div id="my-signin2"></div> 
            </form>
        </div>
    </div>
</section>

